@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #e98937;
  --color-secondary: #0d6efd;
}

@font-face {
  font-family: "Valorant";
  src: url("./assets/fonts/VALORANT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.valorant-text {
  font-family: "Valorant", sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
  font-family: "Arimo", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}