@font-face {
  font-family: "Valorant";
  src: url("./assets/fonts/VALORANT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.valorant-text {
  font-family: "Valorant", sans-serif;
}
/* 
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


.arimo{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.arimo {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.arimo {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight:<weight>;
  font-style: normal;
} */